# Created by https://www.toptal.com/developers/gitignore/api/keystonejs
# Edit at https://www.toptal.com/developers/gitignore?templates=keystonejs

### KeystoneJS ###
# Keystone build dir
.keystone/
node_modules/
schema.graphql
schema.prisma
my_db.db


# End of https://www.toptal.com/developers/gitignore/api/keystonejs